<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RegisteredUsers</key>
	<dict>
		<key>asdf</key>
		<string>asdf</string>
		<key>divi</key>
		<string>qwerty</string>
	</dict>
	<key>Restaurants</key>
	<array>
		<dict>
			<key>Name</key>
			<string>McDonald&apos;s</string>
			<key>Description</key>
			<string>I&apos;m Lovin&apos; It.</string>
			<key>Distance</key>
			<real>1.61</real>
			<key>Image</key>
			<string>Mcdonalds.png</string>
			<key>Cuisine</key>
			<string>Local</string>
			<key>Address</key>
			<string>1990 El Camino Real, Santa Clara</string>
			<key>Reviews</key>
			<integer>2</integer>
			<key>Cost</key>
			<integer>1</integer>
			<key>OperationHours</key>
			<string>7:00 AM - 11:00 PM</string>
			<key>Menu</key>
			<array>
				<dict>
					<key>Name</key>
					<string>French Fries</string>
					<key>Details</key>
					<string>Potatoes Prepared in Vegetable Oil (Canola Oil, Corn Oil, Soybean Oil, Hydrogenated Soybean
Oil) and Salt</string>
					<key>Price</key>
					<real>1.69</real>
					<key>Image</key>
					<string>McD_Fries.png</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>McFlurry</string>
					<key>Details</key>
					<string>Vanilla reduced fat ice cream, m&amp;m mini milk chocolate candies</string>
					<key>Price</key>
					<real>2.39</real>
					<key>Image</key>
					<string>McFlurry.png</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>Cheeseburger</string>
					<key>Details</key>
					<string>100% beef patty, regular bun, pasteurized process american cheese, ketchup, mustard, pickle slices, onions</string>
					<key>Price</key>
					<integer>1</integer>
					<key>Image</key>
					<string>McD_Cheseburger.png</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>4 Pc. Chicken McNuggets</string>
					<key>Details</key>
					<string>White Boneless Chicken, Water, Food Starch-Modified, Salt, Seasoning</string>
					<key>Price</key>
					<real>1.99</real>
					<key>Image</key>
					<string>McD_Nugget.png</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>Smoothie</string>
					<key>Details</key>
					<string>Mango Pineapple, Strawberry Banana, or Blueberry Pomegranate</string>
					<key>Price</key>
					<real>2.39</real>
					<key>Image</key>
					<string>McD_Smoothie.png</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>Iced Coffee-Regular</string>
					<key>Details</key>
					<string>Premium roast coffee, ice, light cream, liquid sugar</string>
					<key>Price</key>
					<real>1.49</real>
					<key>Image</key>
					<string>McD_Coffee.png</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>Jack in the Box</string>
			<key>Description</key>
			<string>The food is better at the Box.</string>
			<key>Distance</key>
			<real>0.62</real>
			<key>Image</key>
			<string>JackInTheBox.png</string>
			<key>Cuisine</key>
			<string>Local</string>
			<key>Address</key>
			<string>911 El Camino Real Santa Clara</string>
			<key>Reviews</key>
			<integer>3</integer>
			<key>Cost</key>
			<integer>2</integer>
			<key>OperationHours</key>
			<string>8:00 AM - 10:00 PM</string>
			<key>Menu</key>
			<array>
				<dict>
					<key>Name</key>
					<string>Seasoned Curly Fries</string>
					<key>Details</key>
					<string>Potatoes Prepared in Vegetable Oil (Canola Oil, Corn Oil, Soybean Oil, Hydrogenated Soybean Oil) and Salt</string>
					<key>Price</key>
					<real>2.29</real>
					<key>Image</key>
					<string>JITB_Curly.png</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>Regular Shake</string>
					<key>Details</key>
					<string>Chocolate, Vanilla, or Strawberry</string>
					<key>Price</key>
					<real>2.39</real>
					<key>Image</key>
					<string>JITB_Shake.png</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>Chicken Nuggets</string>
					<key>Details</key>
					<string>White Boneless Chicken, Water, Food Starch-Modified, Salt, Seasoning</string>
					<key>Price</key>
					<real>1.59</real>
					<key>Image</key>
					<string>JITB_Nugget.png</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>Big Cheeseburger</string>
					<key>Details</key>
					<string>100% beef patty, regular bun, pasteurized process american cheese, ketchup, mustard, pickle slices, onions</string>
					<key>Price</key>
					<real>2.49</real>
					<key>Image</key>
					<string>JITB_Burger.png</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>Chicken Club Salad</string>
					<key>Details</key>
					<string>Grilled Chicken, Bacon Ranch Dressing, Gourmet Croutons</string>
					<key>Price</key>
					<real>5.49</real>
					<key>Image</key>
					<string>JITB_Salad.png</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>Cheesecake</string>
					<key>Details</key>
					<string>Skim Milk, Milk, Sugar, Palm Oil, Corn Syrup, Enriched Bleached Wheat Flour</string>
					<key>Price</key>
					<real>1.59</real>
					<key>Image</key>
					<string>JITB_Cheesecake.png</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>Denny&apos;s</string>
			<key>Description</key>
			<string>America&apos;s Diner is Always Open.</string>
			<key>Distance</key>
			<real>2.1</real>
			<key>Image</key>
			<string>Dennys.png</string>
			<key>Cuisine</key>
			<string>Local</string>
			<key>Address</key>
			<string>1745 El Camino Real Santa Clara</string>
			<key>Reviews</key>
			<integer>5</integer>
			<key>Cost</key>
			<integer>3</integer>
			<key>Menu</key>
			<array>
				<dict>
					<key>Name</key>
					<string>Basket Of Puppies</string>
					<key>Details</key>
					<string>Ten pancake puppies, our bitesized round pancakes rolled in a delicious blend of cinnamon and sugar. </string>
					<key>Price</key>
					<real>2.99</real>
					<key>Image</key>
					<string>Denny_BOP.png</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>Breakfast special</string>
					<key>Details</key>
					<string>Two new fluffy buttermilk pancakes, two eggs, two bacon strips and two sausage links. Served with hash browns or choice of bread, plus coffee and juice.</string>
					<key>Price</key>
					<real>5.45</real>
					<key>Image</key>
					<string>Denny_BF.png</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>Bowl Of Soup</string>
					<key>Details</key>
					<string>Our soups are kettlecooked to be rich and hearty. served with dinner bread</string>
					<key>Price</key>
					<real>2.39</real>
					<key>Image</key>
					<string>Denny_BOS.png</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>Chicken Deluxe Salad</string>
					<key>Details</key>
					<string>Your choice of goldenfried breaded chicken strips or a grilled seasoned chicken breast sliced on top of crisp mixed greens with grape tomatoes, cucumbers, red onions and cheddar cheese. </string>
					<key>Price</key>
					<real>5.99</real>
					<key>Image</key>
					<string>Denny_CDS.png</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>Western Burger</string>
					<key>Details</key>
					<string>Tangy steak sauce drizzled over onion tanglers and melted swiss cheese. served with lettuce, tomato and red onion</string>
					<key>Price</key>
					<real>5.99</real>
					<key>Image</key>
					<string>Denny_WB.png</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>The Super Bird</string>
					<key>Details</key>
					<string>Thinly sliced turkey bread with melted swiss cheese, crisp bacon and tomato on grilled sourdough.</string>
					<key>Price</key>
					<real>4.79</real>
					<key>Image</key>
					<string>Denny_TSB.png</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>The Habit Burger Grill</string>
			<key>Description</key>
			<string>Habit does it always.</string>
			<key>Distance</key>
			<real>5.74</real>
			<key>Image</key>
			<string>TheHabit.png</string>
			<key>Cuisine</key>
			<string>Local</string>
			<key>Address</key>
			<string>2000 El Camino Real Santa Clara</string>
			<key>Reviews</key>
			<integer>1</integer>
			<key>Cost</key>
			<integer>2</integer>
			<key>Menu</key>
			<array>
				<dict>
					<key>Name</key>
					<string>Charburger</string>
					<key>Details</key>
					<string>Crisp lettuce, fresh tomato, caramelized onions, pickles, and mayo on a toasted bun.</string>
					<key>Price</key>
					<real>3.5</real>
					<key>Image</key>
					<string>HBG_CharBurger.png</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>Roasted garlic portabella char</string>
					<key>Details</key>
					<string>Portabella mushrooms, melted White American cheese, crisp lettuce, fresh tomato, caramelized onions, pickle, and roasted garlic aioli on a toasted bun</string>
					<key>Price</key>
					<real>4.99</real>
					<key>Image</key>
					<string>HBG_RGPC.png</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>Veggie Burger</string>
					<key>Details</key>
					<string>Veggie patty on a toasted wheat bun, green leaf lettuce, fresh tomatoes, cucumbers, and onions, with honey Dijon dressing</string>
					<key>Price</key>
					<real>4.45</real>
					<key>Image</key>
					<string>HBG_VB.png</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>Onion Rings</string>
					<key>Details</key>
					<string>Crunchy-battered, sweet white onions</string>
					<key>Price</key>
					<real>2.49</real>
					<key>Image</key>
					<string>HBG_Onion.png</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>Grilled Cheese</string>
					<key>Details</key>
					<string>Includes fries, apple slices or applesauce and a soft drink, apple juice, or milk</string>
					<key>Price</key>
					<real>3.99</real>
					<key>Image</key>
					<string>HBG_GC.png</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>Sundaes</string>
					<key>Details</key>
					<string>Vanilla Soft Serve, Hershey&apos;s© Chocolate, Whipped Cream, and Nuts</string>
					<key>Price</key>
					<real>2.99</real>
					<key>Image</key>
					<string>HBG_Sundae.png</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>Burger King</string>
			<key>Description</key>
			<string>Have It Your Way.</string>
			<key>Distance</key>
			<real>3.1</real>
			<key>Image</key>
			<string>BurgerKing.png</string>
			<key>Cuisine</key>
			<string>Local</string>
			<key>Address</key>
			<string>1925 El Camino Real Santa Clara</string>
			<key>Reviews</key>
			<integer>5</integer>
			<key>Cost</key>
			<integer>1</integer>
			<key>Menu</key>
			<array>
				<dict>
					<key>Name</key>
					<string>French Fries</string>
					<key>Details</key>
					<string>Potatoes Prepared in Vegetable Oil (Canola Oil, Corn Oil, Soybean Oil, Hydrogenated Soybean
Oil) and Salt</string>
					<key>Price</key>
					<real>1.69</real>
					<key>Image</key>
					<string>BK_Fries.png</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>TendergrillTM Garden Salad</string>
					<key>Details</key>
					<string>Season-ripe lettuce, carrots, and tomatoes topped with grilled chicken, three kinds of cheese, and your choice of ken&apos;s salad dressing</string>
					<key>Price</key>
					<real>5.99</real>
					<key>Image</key>
					<string>BK_Salad.png</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>Onion Rings</string>
					<key>Details</key>
					<string>Crunchy-battered, sweet white onions</string>
					<key>Price</key>
					<real>2.49</real>
					<key>Image</key>
					<string>BK_Onion.png</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>Double Whopper</string>
					<key>Details</key>
					<string>Two flame-broiled beef patties stacked high with red ripe tomatoes, crisp lettuce, creamy mayo, ketchup, crunchy pickles, and onions all on a toasted sesame seed bun.</string>
					<key>Price</key>
					<real>3.59</real>
					<key>Image</key>
					<string>BK_Whooper.png</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>Smoothie</string>
					<key>Details</key>
					<string>Mango Pineapple, Strawberry Banana, or Blueberry Pomegranate</string>
					<key>Price</key>
					<real>2.39</real>
					<key>Image</key>
					<string>BK_Smoothie.png</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>Iced Coffee-Regular</string>
					<key>Details</key>
					<string>Premium roast coffee, ice, light cream, liquid sugar</string>
					<key>Price</key>
					<real>1.49</real>
					<key>Image</key>
					<string>BK_Coffee.png</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>Panera Bread</string>
			<key>Description</key>
			<string>Food as it should be.</string>
			<key>Distance</key>
			<real>5.01</real>
			<key>Image</key>
			<string>PaneraBread.png</string>
			<key>Cuisine</key>
			<string>Local</string>
			<key>Address</key>
			<string>2002 El Camino Real Santa Clara</string>
			<key>Reviews</key>
			<integer>3</integer>
			<key>Cost</key>
			<integer>3</integer>
			<key>Menu</key>
			<array>
				<dict>
					<key>Name</key>
					<string>Signature Sandwiches</string>
					<key>Details</key>
					<string>Roasted Turkey &amp; Avocado BLT</string>
					<key>Price</key>
					<real>8.789999999999999</real>
					<key>Image</key>
					<string>Panera_SS.png</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>Broth Bowls</string>
					<key>Details</key>
					<string>Soba Noodle Bowl with Edamame or Lentil Quinoa Bowl with Cage-Free Egg - Meal</string>
					<key>Price</key>
					<real>11.18</real>
					<key>Image</key>
					<string>Panera_BB.png</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>Premium Signature Pastas</string>
					<key>Details</key>
					<string>Chicken Tortellini Alfredo, Butternut Squash Ravioli or Pasta Primavera - Meal</string>
					<key>Price</key>
					<real>11.18</real>
					<key>Image</key>
					<string>Panera_PSP.png</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>Pasta</string>
					<key>Details</key>
					<string>Mac &amp; Cheese</string>
					<key>Price</key>
					<real>5.99</real>
					<key>Image</key>
					<string>Panera_MAC.png</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>Soup</string>
					<key>Details</key>
					<string>Broccoli Cheddar Soup</string>
					<key>Price</key>
					<real>4.29</real>
					<key>Image</key>
					<string>Panera_BCS.png</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>Taco Bell</string>
			<key>Description</key>
			<string>Yo quiero Taco Bell.</string>
			<key>Distance</key>
			<real>2.7</real>
			<key>Image</key>
			<string>TacoBell.png</string>
			<key>Cuisine</key>
			<string>Mexican</string>
			<key>Address</key>
			<string>1680 El Camino Real Santa Clara</string>
			<key>Reviews</key>
			<integer>5</integer>
			<key>Cost</key>
			<integer>1</integer>
			<key>Menu</key>
			<array>
				<dict>
					<key>Name</key>
					<string>Cheesy Double Beef Burrito</string>
					<key>Details</key>
					<string>A double portion of seasoned beef loaded with warm nacho cheese sauce and seasoned rice</string>
					<key>Price</key>
					<real>5.99</real>
					<key>Image</key>
					<string>TB_Burrito.png</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>Volcano Taco</string>
					<key>Details</key>
					<string>A crunchy red corn tortilla shell, filled with seasoned ground beef , crisp shredded lettuce, real cheddar cheese and topped off with cheesy molten hot lava sauce.</string>
					<key>Price</key>
					<real>4.59</real>
					<key>Image</key>
					<string>TB_Volcano.png</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>Cheesy Nachos</string>
					<key>Details</key>
					<string>Crisp, freshly prepared tortilla chips covered in warm nacho cheese sauce.</string>
					<key>Price</key>
					<real>3.59</real>
					<key>Image</key>
					<string>TB_Nacho.png</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>Chicken Fiesta Taco Salad</string>
					<key>Details</key>
					<string>A crispy tortilla bowl filled with marinated all - white meat chicken, and loaded with chunky beans , real cheddar cheese, seasoned rice , crisp shredded lettuce, diced ripe tomatoes, red tortilla strips, reduced fat sour cream and served with citrus salsa on the side.</string>
					<key>Price</key>
					<real>5.65</real>
					<key>Image</key>
					<string>TB_Salad.png</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>Crunchy Taco</string>
					<key>Details</key>
					<string>a crunchy, corn taco shell filled with seasoned ground beef, crisp shredded lettuce, and real cheddar cheese</string>
					<key>Price</key>
					<real>5.65</real>
					<key>Image</key>
					<string>TB_Taco.png</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>Chipotle</string>
			<key>Description</key>
			<string>Food with Integrity.</string>
			<key>Distance</key>
			<real>5.76</real>
			<key>Image</key>
			<string>Chipotle.png</string>
			<key>Cuisine</key>
			<string>Mexican</string>
			<key>Address</key>
			<string>2002 El Camino Real Santa Clara</string>
			<key>Reviews</key>
			<integer>4</integer>
			<key>Cost</key>
			<integer>2</integer>
			<key>Menu</key>
			<array>
				<dict>
					<key>Name</key>
					<string>Burrito Bowl</string>
					<key>Details</key>
					<string>Vegetarian, Chicken, Steak</string>
					<key>Price</key>
					<real>7.5</real>
					<key>Image</key>
					<string>Chipotle_BB.png</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>Taco</string>
					<key>Details</key>
					<string>A crunchy red corn tortilla shell, filled with seasoned ground beef , crisp shredded lettuce, real cheddar cheese and topped off with cheesy molten hot lava sauce.</string>
					<key>Price</key>
					<real>4.59</real>
					<key>Image</key>
					<string>TB_Volcano.png</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>Chips &amp; Guacamole</string>
					<key>Details</key>
					<string>Avacado, Cilantro, Salt, Onion, Tomato</string>
					<key>Price</key>
					<real>3.59</real>
					<key>Image</key>
					<string>Chipotle_CG.png</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>Cheese Quesadilla (No Meat)</string>
					<key>Details</key>
					<string>Cheese, All purpose flour, Salt</string>
					<key>Price</key>
					<real>3.75</real>
					<key>Image</key>
					<string>Chipotle_CQ.png</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>Soda</string>
					<key>Details</key>
					<string>Your choice of drink</string>
					<key>Price</key>
					<real>1.8</real>
					<key>Image</key>
					<string>Chipotle_Soda.png</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>Peacock</string>
			<key>Description</key>
			<string>Delicious Food and best Service</string>
			<key>Distance</key>
			<real>5.76</real>
			<key>Image</key>
			<string>Peacock.png</string>
			<key>Cuisine</key>
			<string>Indian</string>
			<key>Address</key>
			<string>2798 El Camino Real Santa Clara CA 95051</string>
			<key>Reviews</key>
			<integer>4</integer>
			<key>Cost</key>
			<integer>2</integer>
			<key>Menu</key>
			<array>
				<dict>
					<key>Name</key>
					<string>Burrito Bowl</string>
					<key>Details</key>
					<string>Vegetarian, Chicken, Steak</string>
					<key>Price</key>
					<real>7.5</real>
					<key>Image</key>
					<string>Chipotle_BB.png</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>Taco</string>
					<key>Details</key>
					<string>A crunchy red corn tortilla shell, filled with seasoned ground beef , crisp shredded lettuce, real cheddar cheese and topped off with cheesy molten hot lava sauce.</string>
					<key>Price</key>
					<real>4.59</real>
					<key>Image</key>
					<string>TB_Volcano.png</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>Chips &amp; Guacamole</string>
					<key>Details</key>
					<string>Avacado, Cilantro, Salt, Onion, Tomato</string>
					<key>Price</key>
					<real>3.59</real>
					<key>Image</key>
					<string>Chipotle_CG.png</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>Cheese Quesadilla (No Meat)</string>
					<key>Details</key>
					<string>Cheese, All purpose flour, Salt</string>
					<key>Price</key>
					<real>3.75</real>
					<key>Image</key>
					<string>Chipotle_CQ.png</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>Soda</string>
					<key>Details</key>
					<string>Your choice of drink</string>
					<key>Price</key>
					<real>1.8</real>
					<key>Image</key>
					<string>Chipotle_Soda.png</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>Cuisines</key>
	<array>
		<string>Local</string>
		<string>Mexican</string>
		<string>Indian</string>
		<string>Chinese</string>
		<string>Favorites</string>
	</array>
</dict>
</plist>
