<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RegisteredUsers</key>
	<dict>
		<key>asdf</key>
		<string>asdf</string>
		<key>divi</key>
		<string>qwerty</string>
	</dict>
	<key>Restaurants</key>
	<array>
		<dict>
			<key>Name</key>
			<string>McDonald&apos;s</string>
			<key>Description</key>
			<string>I&apos;m Lovin&apos; It.</string>
			<key>Distance</key>
			<string>1.61</string>
			<key>Image</key>
			<string>Mcdonalds.png</string>
			<key>Cuisine</key>
			<string>Local</string>
			<key>Address</key>
			<string>1990 El Camino Real, Santa Clara</string>
			<key>Reviews</key>
			<string>2</string>
			<key>Cost</key>
			<string>1</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Jack in the Box</string>
			<key>Description</key>
			<string>The food is better at the Box.</string>
			<key>Distance</key>
			<string>0.62</string>
			<key>Image</key>
			<string>JackInTheBox.png</string>
			<key>Cuisine</key>
			<string>Local</string>
			<key>Address</key>
			<string>911 El Camino Real Santa Clara</string>
			<key>Reviews</key>
			<string>3</string>
			<key>Cost</key>
			<string>2</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Denny&apos;s</string>
			<key>Description</key>
			<string>America&apos;s Diner is Always Open.</string>
			<key>Distance</key>
			<string>2.1</string>
			<key>Image</key>
			<string>Dennys.png</string>
			<key>Cuisine</key>
			<string>Local</string>
			<key>Address</key>
			<string>1745 El Camino Real Santa Clara</string>
			<key>Reviews</key>
			<string>5</string>
			<key>Cost</key>
			<string>3</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>The Habit Burger Grill</string>
			<key>Description</key>
			<string>Habit does it always.</string>
			<key>Distance</key>
			<string>5.74</string>
			<key>Image</key>
			<string>TheHabit.png</string>
			<key>Cuisine</key>
			<string>Local</string>
			<key>Address</key>
			<string>2000 El Camino Real Santa Clara</string>
			<key>Reviews</key>
			<string>1</string>
			<key>Cost</key>
			<string>2</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Burger King</string>
			<key>Description</key>
			<string>Have It Your Way.</string>
			<key>Distance</key>
			<string>3.1</string>
			<key>Image</key>
			<string>BurgerKing.png</string>
			<key>Cuisine</key>
			<string>Local</string>
			<key>Address</key>
			<string>1925 El Camino Real Santa Clara</string>
			<key>Reviews</key>
			<string>5</string>
			<key>Cost</key>
			<string>1</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Panera Bread</string>
			<key>Description</key>
			<string>Food as it should be.</string>
			<key>Distance</key>
			<string>5.01</string>
			<key>Image</key>
			<string>PaneraBread.png</string>
			<key>Cuisine</key>
			<string>Local</string>
			<key>Address</key>
			<string>2002 El Camino Real Santa Clara</string>
			<key>Reviews</key>
			<string>3</string>
			<key>Cost</key>
			<string>3</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Taco Bell</string>
			<key>Description</key>
			<string>Yo quiero Taco Bell.</string>
			<key>Distance</key>
			<string>2.7</string>
			<key>Image</key>
			<string>TacoBell.png</string>
			<key>Cuisine</key>
			<string>Mexican</string>
			<key>Address</key>
			<string>1680 El Camino Real Santa Clara</string>
			<key>Reviews</key>
			<string>5</string>
			<key>Cost</key>
			<string>1</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Chipotle</string>
			<key>Description</key>
			<string>Food with Integrity.</string>
			<key>Distance</key>
			<string>5.76</string>
			<key>Image</key>
			<string>Chipotle.png</string>
			<key>Cuisine</key>
			<string>Mexican</string>
			<key>Address</key>
			<string>2002 El Camino Real Santa Clara</string>
			<key>Reviews</key>
			<string>4</string>
			<key>Cost</key>
			<string>2</string>
		</dict>
	</array>
</dict>
</plist>
